@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap");

:root {
  --text-color: white;
  --background-img: url(./assets/bg-desktop.jpg);
  --mobile-background-img: url(./assets/bg-mobile.jpg);
  --avatar-img: url(./assets/avatar.png);
  --button-background: rgba(255, 255, 255, 0.1);
  --button-background-hover: rgba(255, 255, 255, 0.05);
  --button-background-hover-social: rgba(255, 255, 255, 0.2);
  --switch-bg: url(./assets/MoonStars.svg);
}

.light {
  --text-color: black;
  --background-img: url(./assets/bg-desktop-light.jpg);
  --mobile-background-img: url(./assets/bg-mobile-light.jpg);
  --avatar-img: url(./assets/avatar-light.png);
  --button-background: rgba(0, 0, 0, 0.1);
  --button-background-hover: transparent;
  --button-background-hover-social: rgba(0, 0, 0, 0.2);
  --switch-bg: url(./assets/Sun.svg);
}
.light .switch .theme-mode {
  animation: slide-in 0.4s forwards;
}

/* RESET */
* {
  transition: color 0.5s;
  transition: transform 0.5s;
  transition: background 1s;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERICS */
span {
  display: inline;
}

body {
  background-image: var(--background-img);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: auto;
  height: 100vh;
  margin: 5rem 0 5rem 0;
}

ul {
  list-style: none;
}

p,
a {
  font-family: "Inter";

  text-decoration: none;
  text-align: center;
  vertical-align: middle;

  color: var(--text-color);

  font-size: small;
}

/* ION-ICON */
ion-icon {
  font-size: large;
  vertical-align: middle;
}

/* STYLING */
.container {
  max-width: 20rem;

  margin: auto;

  display: flex;
  align-items: stretch;
  flex-direction: column;
  gap: 1rem;
}
.container > * {
  display: flex;
}

.switch {
  margin: auto;
  align-items: center;
  position: relative;
  padding: 1rem 0 1rem 0;
}

.switch span {
  display: block;
  position: relative;

  border-radius: 999rem;

  width: 64px;
  height: 20px;
  background-color: var(--button-background);
  border: 1px var(--text-color) solid;
}

.theme-mode:hover {
  outline-width: 8px;
}

.theme-mode {
  transition: outline 0.2s;
  outline: var(--button-background-hover-social) solid 0;

  position: absolute;
  animation: slide-back 0.4s forwards;
  z-index: 1;

  width: 32px;
  height: 32px;

  border-radius: 50%;

  border-width: 0;

  background: white var(--switch-bg) no-repeat center;
}

.profile {
  flex-direction: column;
  align-self: center;
  gap: 1rem;
  font-weight: bold;
}

.avatar {
  width: 6rem;
  height: 6rem;
}

.links {
  flex-direction: column;
  gap: 1rem;
}

.links a {
  background-color: var(--button-background);

  border-style: solid;
  border-color: var(--text-color);
  border-width: 1px;

  border-radius: 0.5rem;
}

.links a {
  display: flex;
  width: 100%;
  height: 2.5rem;

  text-align: center;
  align-items: center;
  justify-content: center;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  transition: background 0.5s;
}

.links a:hover {
  border-width: 2px;
  background-color: var(--button-background-hover);
}

.social-media {
  flex-direction: row;

  margin: 1rem 0 1rem 0;
}

.social-media ul {
  display: flex;
  gap: 1rem;
  padding: 0 1rem;
  justify-content: center;
  margin: auto;
}

.social-media a {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 50%;

  transition: background-color 0.2s;
}

.social-media a:hover {
  background-color: var(--button-background-hover-social);
}

.footer {
  margin: auto;
}

@media only screen and (max-width: 600px) {
  body {
    height: 100vh;
    background-image: var(--mobile-background-img);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 4rem 1rem;
  }
}

@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 55%;
  }
}

@keyframes slide-back {
  from {
    left: 55%;
  }
  to {
    left: 0;
  }
}
